@model IEnumerable<Plants.Models.PlantModel>

@{
    ViewData["Title"] = "Index";
}

    <head>
        <style>
            img {
                max-width: 100%;
                max-height: 110%;
                display: block; /* remove extra space below image */
            }
        </style>
    </head>


<body>
    <div>
        <div class="text-center row my-3" style="background-color:#9695B5;">
            <div class="col-md-5 p-1 mx-auto no-gutters">
                <h1 class="display-4 font-weight-normal">@ViewData["Title"]</h1>
            </div>
        </div>

        <div class="row text-center py-4 my-3" style="background-color:#B8B8CB;">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="form-group">
                        <a asp-action="Create" class="btn btn-primary">Create New</a> 
                    </div>
                </div>

                <table class="table table-bordered">
                    <tbody>
                        @foreach (var plant in Model)
                        {
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-5">
                                            <img src="~/Resources/@plant.ImageURI" />

                                        </div>
                                        <div class="col-7">
                                            <div class="row">
                                                <p>Common Name:  @plant.CommonName</p>
                                            </div>
                                            <div class="row">
                                                <p>Scientific Name:  @plant.ScientificName</p>
                                            </div>
                                            <div class="row">
                                                <p>Family:  @plant.Family</p>
                                            </div>
                                            <div class="row">
                                                <p>Category:  @plant.Category</p>
                                            </div>
                                            <div class="row">
                                                <p>Duration:  @plant.Duration</p>
                                            </div>
                                            <div class="row">
                                                <a asp-action="Edit" asp-route-id="@plant.Id">Edit</a>  |
                                                <a asp-action="Details" asp-route-id="@plant.Id">Details</a>  |
                                                <a asp-action="Delete" asp-route-id="@plant.Id">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
